doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title My Startup and SaaS Landing Page Template
    link(rel='shortcut icon' href='../assets/images/favicon.svg' type='image/svg')

    link(rel="stylesheet" href="../assets/css/bootstrap.min.css")
    link(rel='stylesheet' href='../assets/css/animate.css')
    link(rel='stylesheet' href='../assets/css/lineicons.css')
    link(rel='stylesheet' href='../assets/scss/styles.scss')
  body
    header.ud-header
      .container
        .row
          .col-lg-12
            nav.navbar.navbar-expand-lg
              a.navbar-brand(href='#')
                img(src='../assets/images/logo/logo.svg' alt='Logo')
                img(src='../assets/images/logo/logo-2.svg' alt='Logo' hidden)
              button.navbar-toggler
                span.toggler-icon  
                span.toggler-icon  
                span.toggler-icon  
              .navbar-collapse
                ul#nav.navbar-nav.mx-auto
                  li.nav-item
                    a.ud-menu-scroll(href='#home') Home
                  li.nav-item
                    a.ud-menu-scroll(href='#about') About
                  li.nav-item
                    a.ud-menu-scroll(href='#pricing') Pricing
                  li.nav-item
                    a.ud-menu-scroll(href='#team') Team
                  li.nav-item
                    a.ud-menu-scroll(href='#contact') Contact
                  li.nav-item.nav-item-has-children
                    a(href='javascript:void(0)')  Pages 
                    ul.ud-submenu
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') About Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Pricing Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Contact Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Blog Grid Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#.html') Blog Details Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Sign In Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') 404 Page
              .navbar-btn.d-none.d-sm-inline-block
                a.ud-main-btn.ud-login-btn(href='#') Sign In
                a.ud-main-btn.ud-white-btn(href='javascript:void(0)') Sign Up

    block content

    footer.ud-footer.wow.fadeInUp(data-wow-delay=".15s")
      .shape.shape-1
        img(
          alt="shape" 
          src="../assets/images/footer/shape-1.svg"
          )
      .shape.shape-2
        img(
          alt="shape" 
          src="../assets/images/footer/shape-2.svg"
          )
      .shape.shape-3
        img(
          alt="shape" 
          src="../assets/images/footer/shape-3.svg"
          )
      .ud-footer-widgets
        .container
          .row
            .col-xl-3.col-lg-4.col-md-6
              .ud-widget
                a.ud-footer-logo(href="#")
                  img(
                    alt="logo" 
                    src="../assets/images/logo/logo.svg"
                    )
                p.ud-widget-desc
                  | We create digital experiences for brands and companies by
                  |   using technology.
                ul.ud-widget-socials
                  li
                    a(href="https://twitter.com/MusharofChy")
                      i.lni.lni-facebook-filled
                  li
                    a(href="https://twitter.com/MusharofChy")
                      i.lni.lni-twitter-filled
                  li
                    a(href="https://twitter.com/MusharofChy")
                      i.lni.lni-instagram-filled
                  li
                    a(href="https://twitter.com/MusharofChy")
                      i.lni.lni-linkedin-original
            .col-xl-2.col-lg-2.col-md-6.col-sm-6
              .ud-widget
                h5.ud-widget-title About Us
                ul.ud-widget-links
                  li
                    a(href="javascript:void(0)") Home
                  li
                    a(href="javascript:void(0)") Features
                  li
                    a(href="javascript:void(0)") About
                  li
                    a(href="javascript:void(0)") Testimonial
            .col-xl-2.col-lg-3.col-md-6.col-sm-6
              .ud-widget
                h5.ud-widget-title Features
                ul.ud-widget-links
                  li
                    a(href="javascript:void(0)") How it works
                  li
                    a(href="javascript:void(0)") Privacy policy
                  li
                    a(href="javascript:void(0)") Terms of service
                  li
                    a(href="javascript:void(0)") Refund policy
            .col-xl-2.col-lg-3.col-md-6.col-sm-6
              .ud-widget
                h5.ud-widget-title Our Products
                ul.ud-widget-links
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://lineicons.com/"
                      ) Lineicons
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://ecommercehtml.com/"
                      ) Ecommerce HTML
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://ayroui.com/"
                      ) Ayro UI
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://graygrids.com/"
                      ) Plain Admin
            .col-xl-3.col-lg-6.col-md-8.col-sm-10
              .ud-widget
                h5.ud-widget-title Partners
                ul.ud-widget-brands
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://ayroui.com/"
                      )
                      img(
                        alt="ayroui" 
                        src="../assets/images/footer/brands/ayroui.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://ecommercehtml.com/"
                      )
                      img(
                        alt="ecommerce-html" 
                        src="../assets/images/footer/brands/ecommerce-html.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://graygrids.com/"
                      )
                      img(
                        alt="graygrids" 
                        src="../assets/images/footer/brands/graygrids.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://lineicons.com/"
                      )
                      img(
                        alt="lineicons" 
                        src="../assets/images/footer/brands/lineicons.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://uideck.com/"
                      )
                      img(
                        alt="uideck" 
                        src="../assets/images/footer/brands/uideck.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://tailwindtemplates.co/"
                      )
                      img(
                        alt="tailwindtemplates" 
                        src="../assets/images/footer/brands/tailwindtemplates.svg"
                        )
      .ud-footer-bottom
        .container
          .row
            .col-md-8
              ul.ud-footer-bottom-left
                li
                  a(href="javascript:void(0)") Privacy policy
                li
                  a(href="javascript:void(0)") Support policy
                li
                  a(href="javascript:void(0)") Terms of service
            .col-md-4
              p.ud-footer-bottom-right
                | Designed and Developed by
                a(
                  rel="nofollow" 
                  href="https://uideck.com"
                  ) UIdeck

    a.back-to-top(href="javascript:void(0)")
      i.lni.lni-chevron-up

    script(src="../assets/js/bootstrap.bundle.min.js")
    script(src="../assets/js/wow.min.js")
    script(src="../assets/js/main.js")
