
section#faq.ud-faq
  .shape
    img(alt="shape" src="../assets/images/faq/shape.svg")
  .container
    .row
      .col-lg-12
        .ud-section-title.text-center.mx-auto
          span FAQ
          h2 Any Questions? Answered
          p
            | There are many variations of passages of Lorem Ipsum available
            |   but the majority have suffered alteration in some form.
    .row
      .col-lg-6
        .ud-single-faq.wow.fadeInUp(data-wow-delay=".1s")
          .accordion
            button.ud-faq-btn.collapsed(
              data-bs-target="#collapseOne" 
              data-bs-toggle="collapse"
              )
              span.icon.flex-shrink-0
                i.lni.lni-chevron-down
              span How to use UIdeck?
            #collapseOne.accordion-collapse.collapse
              .ud-faq-body
                | Lorem Ipsum is simply dummy text of the printing and
                |   typesetting industry. Lorem Ipsum has been the industry's
                |   standard dummy text ever since the 1500s, when an unknown
                |   printer took a galley of type and scrambled it to make a
                |   type specimen book.
        .ud-single-faq.wow.fadeInUp(data-wow-delay=".15s")
          .accordion
            button.ud-faq-btn.collapsed(
              data-bs-target="#collapseTwo" 
              data-bs-toggle="collapse"
              )
              span.icon.flex-shrink-0
                i.lni.lni-chevron-down
              span How to download icons from Lineicons?
            #collapseTwo.accordion-collapse.collapse
              .ud-faq-body
                | Lorem Ipsum is simply dummy text of the printing and
                |   typesetting industry. Lorem Ipsum has been the industry's
                |   standard dummy text ever since the 1500s, when an unknown
                |   printer took a galley of type and scrambled it to make a
                |   type specimen book.
        .ud-single-faq.wow.fadeInUp(data-wow-delay=".2s")
          .accordion
            button.ud-faq-btn.collapsed(
              data-bs-target="#collapseThree" 
              data-bs-toggle="collapse"
              )
              span.icon.flex-shrink-0
                i.lni.lni-chevron-down
              span Is GrayGrids part of UIdeck?
            #collapseThree.accordion-collapse.collapse
              .ud-faq-body
                | Lorem Ipsum is simply dummy text of the printing and
                |   typesetting industry. Lorem Ipsum has been the industry's
                |   standard dummy text ever since the 1500s, when an unknown
                |   printer took a galley of type and scrambled it to make a
                |   type specimen book.
      .col-lg-6
        .ud-single-faq.wow.fadeInUp(data-wow-delay=".1s")
          .accordion
            button.ud-faq-btn.collapsed(
              data-bs-target="#collapseFour" 
              data-bs-toggle="collapse"
              )
              span.icon.flex-shrink-0
                i.lni.lni-chevron-down
              span Can I use this template for commercial project?
            #collapseFour.accordion-collapse.collapse
              .ud-faq-body
                | Lorem Ipsum is simply dummy text of the printing and
                |   typesetting industry. Lorem Ipsum has been the industry's
                |   standard dummy text ever since the 1500s, when an unknown
                |   printer took a galley of type and scrambled it to make a
                |   type specimen book.
        .ud-single-faq.wow.fadeInUp(data-wow-delay=".15s")
          .accordion
            button.ud-faq-btn.collapsed(
              data-bs-target="#collapseFive" 
              data-bs-toggle="collapse"
              )
              span.icon.flex-shrink-0
                i.lni.lni-chevron-down
              span Do you have plan releasing Play Pro?
            #collapseFive.accordion-collapse.collapse
              .ud-faq-body
                | Lorem Ipsum is simply dummy text of the printing and
                |   typesetting industry. Lorem Ipsum has been the industry's
                |   standard dummy text ever since the 1500s, when an unknown
                |   printer took a galley of type and scrambled it to make a
                |   type specimen book.
        .ud-single-faq.wow.fadeInUp(data-wow-delay=".2s")
          .accordion
            button.ud-faq-btn.collapsed(
              data-bs-target="#collapseSix" 
              data-bs-toggle="collapse"
              )
              span.icon.flex-shrink-0
                i.lni.lni-chevron-down
              span Where and how to host this template?
            #collapseSix.accordion-collapse.collapse
              .ud-faq-body
                | Lorem Ipsum is simply dummy text of the printing and
                |   typesetting industry. Lorem Ipsum has been the industry's
                |   standard dummy text ever since the 1500s, when an unknown
                |   printer took a galley of type and scrambled it to make a
                |   type specimen book.
