section#home.ud-hero
  .container
    .row
      .col-lg-12
        .ud-hero-content.wow.fadeInUp(data-wow-delay=".2s")
          h1.ud-hero-title Open-Source Web Template for SaaS, Startup, Apps, and More
          p.ud-hero-desc
            | Multidisciplinary Web Template Built with Your Favourite
            |   Technology - HTML Bootstrap, Tailwind and React NextJS.
          ul.ud-hero-buttons
            li
              a.ud-main-btn.ud-white-btn(
                rel="nofollow noopener" 
                href="javascript:void(0)"
                ) Download Now
            li
              a.ud-main-btn.ud-link-btn(
                rel="nofollow noopener" 
                href="javascript:void(0)"
                )
                | Learn More 
                i.lni.lni-arrow-right
        .ud-hero-brands-wrapper.wow.fadeInUp(data-wow-delay=".3s")
          img(
            alt="brand" 
            src="../assets/images/hero/brand.svg"
            )
        .ud-hero-image.wow.fadeInUp(data-wow-delay=".25s")
          img(
            alt="hero-image" 
            src="../assets/images/hero/hero-image.svg"
            )
          img.shape.shape-1(
            alt="shape" 
            src="../assets/images/hero/dotted-shape.svg"
            )
          img.shape.shape-2(
            alt="shape" 
            src="../assets/images/hero/dotted-shape.svg"
            )
