section.ud-blog-details
  .container
    .row
      .col-lg-12
        .ud-blog-details-image
          img(
            alt="blog details" 
            src="../assets/images/blog/blog-details-01.jpg"
            )
          .ud-blog-overlay
            .ud-blog-overlay-content
              .ud-blog-author
                img(
                  alt="author" 
                  src="../assets/images/blog/author-01.png"
                  )
                span
                  | By
                  a(href="javascript:void(0)") Samuyl Joshi
              .ud-blog-meta
                p.date
                  i.lni.lni-calendar
                  span 12 Jan 2024
                p.comment
                  i.lni.lni-comments
                  span 50
                p.view
                  i.lni.lni-eye
                  span 35
      .col-lg-8
        .ud-blog-details-content
          h2.ud-blog-details-title Facing a challenge is kind of a turn-on for an easy rider
          p.ud-blog-details-para
            | There’s a time and place for everything… including asking for
            |   reviews. For instance: you should not asking for a review on
            |   your checkout page. The sole purpose of this page is to guide
            |   your customer to complete their purchase, and this means that
            |   the page should be as minimalist and pared-down possible. You
            |   don’t want to have any unnecessary elements or Call To Actions.
          p.ud-blog-details-para
            | There’s a time and place for everything… including asking for
            |   reviews. For instance: you should not asking for a review on
            |   your checkout page. The sole purpose of this page is to guide
            |   your customer to complete their purchase, and this means that
            |   the page should be as minimalist and pared-down possible. You
            |   don’t want to have any unnecessary elements or Call To Actions.
          h3.ud-blog-details-subtitle Sea no quidam vulputate
          p.ud-blog-details-para
            | At quo cetero fastidii. Usu ex ornatus corpora sententiae,
            |   vocibus deleniti ut nec. Ut enim eripuit eligendi est, in
            |   iracundia signiferumque quo. Sed virtute suavitate suscipiantur
            |   ea, dolor this can eloquentiam ei pro. Suas adversarium
            |   interpretaris eu sit, eum viris impedit ne. Erant appareat
            |   corrumpit ei vel.
          .ud-blog-quote
            i.lni.lni-quotation
            p
              | A spring of truth shall flow from it: like a new star it shall
              |   scatter the darkness of ignorance, and cause a light
              |   heretofore unknown to shine amongst men.
            h6 “Andrio Domeco”
          h3.ud-blog-details-subtitle What is it with your ideas?
          p.ud-blog-details-para
            | At quo cetero fastidii. Usu ex ornatus corpora sententiae,
            |   vocibus deleniti ut nec. Ut enim eripuit eligendi est, in
            |   iracundia signiferumque quo. Sed virtute suavitate suscipiantur
            |   ea, dolor this can eloquentiam ei pro. Suas adversarium
            |   interpretaris eu sit, eum viris impedit ne. Erant appareat
            |   corrumpit ei vel.
          p.ud-blog-details-para
            | At quo cetero fastidii. Usu ex ornatus corpora sententiae,
            |   vocibus deleniti ut nec. Ut enim eripuit eligendi est, in
            |   iracundia signiferumque quo. Sed virtute suavitate suscipiantur
            |   ea, dolor this can eloquentiam ei pro. Suas adversarium
            |   interpretaris eu sit, eum viris impedit ne. Erant appareat
            |   corrumpit ei vel.
          .ud-blog-details-action
            ul.ud-blog-tags
              li
                a(href="javascript:void(0)") Design
              li
                a(href="javascript:void(0)") Development
              li
                a(href="javascript:void(0)") Info
            .ud-blog-share
              h6 Share This Post
              ul.ud-blog-share-links
                li
                  a.facebook(href="javascript:void(0)")
                    i.lni.lni-facebook-filled
                li
                  a.twitter(href="javascript:void(0)")
                    i.lni.lni-twitter-filled
                li
                  a.linkedin(href="javascript:void(0)")
                    i.lni.lni-linkedin-original
      .col-lg-4
        .ud-blog-sidebar
          .ud-newsletter-box
            img.shape.shape-1(
              alt="shape" 
              src="../assets/images/blog/dotted-shape.svg"
              )
            img.shape.shape-2(
              alt="shape" 
              src="../assets/images/blog/dotted-shape.svg"
              )
            h3.ud-newsletter-title Join our newsletter!
            p Enter your email to receive our latest newsletter.
            form.ud-newsletter-form
              input(
                placeholder="Your Email address" 
                name="email" 
                type="email"
                )
              button.ud-main-btn Subscribe Now
              p.ud-newsletter-note Don't worry, we don't spam
          .ud-articles-box
            h3.ud-articles-box-title Popular Articles
            ul.ud-articles-list
              li
                .ud-article-image
                  img(
                    alt="author" 
                    src="../assets/images/blog/article-author-01.png"
                    )
                .ud-article-content
                  h5.ud-article-title
                    a(href="javascript:void(0)") The 8 best landing page builders, reviewed
                  p.ud-article-author Martin Fedous
              li
                .ud-article-image
                  img(
                    alt="author" 
                    src="../assets/images/blog/article-author-02.png"
                    )
                .ud-article-content
                  h5.ud-article-title
                    a(href="javascript:void(0)") Create engaging online courses your student…
                  p.ud-article-author Glomiya Lucy
              li
                .ud-article-image
                  img(
                    alt="author" 
                    src="../assets/images/blog/article-author-03.png"
                    )
                .ud-article-content
                  h5.ud-article-title
                    a(href="javascript:void(0)") The ultimate formula for launching online course
                  p.ud-article-author Andrio jeson
              li
                .ud-article-image
                  img(
                    alt="author" 
                    src="../assets/images/blog/article-author-04.png"
                    )
                .ud-article-content
                  h5.ud-article-title
                    a(href="javascript:void(0)") 50 Best web design tips & tricks that will help you
                  p.ud-article-author Samoyel Dayno
          .ud-banner-ad
            a(href="javascript:void(0)")
              img(
                alt="ad banner" 
                src="../assets/images/blog/bannder-ad.png"
                )