
section#team.ud-team
  .container
    .row
      .col-lg-12
        .ud-section-title.mx-auto.text-center
          span Our Team
          h2 Meet The Team
          p
            | There are many variations of passages of Lorem Ipsum available
            |   but the majority have suffered alteration in some form.
    .row
      .col-xl-3.col-lg-3.col-sm-6
        .ud-single-team.wow.fadeInUp(data-wow-delay=".1s")
          .ud-team-image-wrapper
            .ud-team-image
              img(
                alt="team" 
                src="../assets/images/team/team-01.png"
                )
            img.shape.shape-1(
              alt="shape" 
              src="../assets/images/team/dotted-shape.svg"
              )
            img.shape.shape-2(
              alt="shape" 
              src="../assets/images/team/shape-2.svg"
              )
          .ud-team-info
            h5 Adveen Desuza
            h6 UI Designer
          ul.ud-team-socials
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-facebook-filled
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-twitter-filled
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-instagram-filled
      .col-xl-3.col-lg-3.col-sm-6
        .ud-single-team.wow.fadeInUp(data-wow-delay=".15s")
          .ud-team-image-wrapper
            .ud-team-image
              img(
                alt="team" 
                src="../assets/images/team/team-02.png"
                )
            img.shape.shape-1(
              alt="shape" 
              src="../assets/images/team/dotted-shape.svg"
              )
            img.shape.shape-2(
              alt="shape" 
              src="../assets/images/team/shape-2.svg"
              )
          .ud-team-info
            h5 Jezmin uniya
            h6 Product Designer
          ul.ud-team-socials
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-facebook-filled
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-twitter-filled
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-instagram-filled
      .col-xl-3.col-lg-3.col-sm-6
        .ud-single-team.wow.fadeInUp(data-wow-delay=".2s")
          .ud-team-image-wrapper
            .ud-team-image
              img(
                alt="team" 
                src="../assets/images/team/team-03.png"
                )
            img.shape.shape-1(
              alt="shape" 
              src="../assets/images/team/dotted-shape.svg"
              )
            img.shape.shape-2(
              alt="shape" 
              src="../assets/images/team/shape-2.svg"
              )
          .ud-team-info
            h5 Andrieo Gloree
            h6 App Developer
          ul.ud-team-socials
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-facebook-filled
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-twitter-filled
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-instagram-filled
      .col-xl-3.col-lg-3.col-sm-6
        .ud-single-team.wow.fadeInUp(data-wow-delay=".25s")
          .ud-team-image-wrapper
            .ud-team-image
              img(
                alt="team" 
                src="../assets/images/team/team-04.png"
                )
            img.shape.shape-1(
              alt="shape" 
              src="../assets/images/team/dotted-shape.svg"
              )
            img.shape.shape-2(
              alt="shape" 
              src="../assets/images/team/shape-2.svg"
              )
          .ud-team-info
            h5 Jackie Sanders
            h6 Content Writer
          ul.ud-team-socials
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-facebook-filled
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-twitter-filled
            li
              a(href="https://twitter.com/MusharofChy")
                i.lni.lni-instagram-filled
