
section#testimonials.ud-testimonials
  .container
    .row
      .col-lg-12
        .ud-section-title.mx-auto.text-center
          span Testimonials
          h2 What our Customers Says
          p
            | There are many variations of passages of Lorem Ipsum available
            |   but the majority have suffered alteration in some form.
    .row
      .col-lg-4.col-md-6
        .ud-single-testimonial.wow.fadeInUp(data-wow-delay=".1s")
          .ud-testimonial-ratings
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
          .ud-testimonial-content
            p
              | “Our members are so impressed. It's intuitive. It's clean.
              |   It's distraction free. If you're building a community.
          .ud-testimonial-info
            .ud-testimonial-image
              img(
                alt="author" 
                src="../assets/images/testimonials/author-01.png"
                )
            .ud-testimonial-meta
              h4 Sabo Masties
              p Founder @UIdeck
      .col-lg-4.col-md-6
        .ud-single-testimonial.wow.fadeInUp(data-wow-delay=".15s")
          .ud-testimonial-ratings
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
          .ud-testimonial-content
            p
              | “Our members are so impressed. It's intuitive. It's clean.
              |   It's distraction free. If you're building a community.
          .ud-testimonial-info
            .ud-testimonial-image
              img(
                alt="author" 
                src="../assets/images/testimonials/author-02.png"
                )
            .ud-testimonial-meta
              h4 Margin Gesmu
              p Founder @Lineicons
      .col-lg-4.col-md-6
        .ud-single-testimonial.wow.fadeInUp(data-wow-delay=".2s")
          .ud-testimonial-ratings
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
            i.lni.lni-star-filled
          .ud-testimonial-content
            p
              | “Our members are so impressed. It's intuitive. It's clean.
              |   It's distraction free. If you're building a community.
          .ud-testimonial-info
            .ud-testimonial-image
              img(
                alt="author" 
                src="../assets/images/testimonials/author-03.png"
                )
            .ud-testimonial-meta
              h4 William Smith
              p Founder @GrayGrids
    .row
      .col-lg-12
        .ud-brands.wow.fadeInUp(data-wow-delay=".2s")
          .ud-title
            h6 Trusted and Used by
          .ud-brands-logo
            .ud-single-logo
              img(
                alt="ayroui" 
                src="../assets/images/brands/ayroui.svg"
                )
            .ud-single-logo
              img(
                alt="uideck" 
                src="../assets/images/brands/uideck.svg"
                )
            .ud-single-logo
              img(
                alt="graygrids" 
                src="../assets/images/brands/graygrids.svg"
                )
            .ud-single-logo
              img(
                alt="lineicons" 
                src="../assets/images/brands/lineicons.svg"
                )
            .ud-single-logo
              img(
                alt="ecommerce-html" 
                src="../assets/images/brands/ecommerce-html.svg"
                )
