doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title My Startup and SaaS Landing Page Template
    link(rel='shortcut icon' href='../assets/images/favicon.svg' type='image/svg')
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    link(rel='stylesheet' href='../assets/scss/styles.scss')
  body
    header.ud-header
      .container
        .row
          .col-lg-12
            nav.navbar.navbar-expand-lg
              a.navbar-brand(href='#')
                img(src='../assets/images/logo/logo.svg' alt='Logo')
              button.navbar-toggler
                span.toggler-icon  
                span.toggler-icon  
                span.toggler-icon  
              .navbar-collapse
                ul#nav.navbar-nav.mx-auto
                  li.nav-item
                    a.ud-menu-scroll(href='#home') Home
                  li.nav-item
                    a.ud-menu-scroll(href='#about') About
                  li.nav-item
                    a.ud-menu-scroll(href='#pricing') Pricing
                  li.nav-item
                    a.ud-menu-scroll(href='#team') Team
                  li.nav-item
                    a.ud-menu-scroll(href='#contact') Contact
                  li.nav-item.nav-item-has-children
                    a(href='javascript:void(0)')  Pages 
                    ul.ud-submenu
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') About Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Pricing Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Contact Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Blog Grid Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#.html') Blog Details Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Sign In Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') 404 Page
              .navbar-btn.d-none.d-sm-inline-block
                a.ud-main-btn.ud-login-btn(href='#') Sign In
                a.ud-main-btn.ud-white-btn(href='javascript:void(0)') Sign Up

    section#home.ud-hero
      .container
        .row
          .col-lg-12
            .ud-hero-content.wow.fadeInUp(data-wow-delay=".2s")
              h1.ud-hero-title Open-Source Web Template for SaaS, Startup, Apps, and More
              p.ud-hero-desc
                | Multidisciplinary Web Template Built with Your Favourite
                |   Technology - HTML Bootstrap, Tailwind and React NextJS.
              ul.ud-hero-buttons
                li
                  a.ud-main-btn.ud-white-btn(
                    target="_blank" 
                    rel="nofollow noopener" 
                    href="https://links.uideck.com/play-bootstrap-download"
                    ) Download Now
                li
                  a.ud-main-btn.ud-link-btn(
                    target="_blank" 
                    rel="nofollow noopener" 
                    href="https://github.com/uideck/play-bootstrap"
                    )
                    | Learn More 
                    i.lni.lni-arrow-right
            .ud-hero-brands-wrapper.wow.fadeInUp(data-wow-delay=".3s")
              img(
                alt="brand" 
                src="../assets/images/hero/brand.svg"
                )
            .ud-hero-image.wow.fadeInUp(data-wow-delay=".25s")
              img(
                alt="hero-image" 
                src="../assets/images/hero/hero-image.svg"
                )
              img.shape.shape-1(
                alt="shape" 
                src="../assets/images/hero/dotted-shape.svg"
                )
              img.shape.shape-2(
                alt="shape" 
                src="../assets/images/hero/dotted-shape.svg"
                )

    section#features.ud-features
      .container
        .row
          .col-lg-12
            .ud-section-title
              span Features
              h2 Main Features of Play
              p
                | There are many variations of passages of Lorem Ipsum available
                |   but the majority have suffered alteration in some form.
        .row
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-feature.wow.fadeInUp(data-wow-delay=".1s")
              .ud-feature-icon
                i.lni.lni-gift
              .ud-feature-content
                h3.ud-feature-title Free and Open-Source
                p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
                a.ud-feature-link(href="javascript:void(0)") Learn More
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-feature.wow.fadeInUp(data-wow-delay=".15s")
              .ud-feature-icon
                i.lni.lni-move
              .ud-feature-content
                h3.ud-feature-title Multipurpose Template
                p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
                a.ud-feature-link(href="javascript:void(0)") Learn More
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-feature.wow.fadeInUp(data-wow-delay=".2s")
              .ud-feature-icon
                i.lni.lni-layout
              .ud-feature-content
                h3.ud-feature-title High-quality Design
                p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
                a.ud-feature-link(href="javascript:void(0)") Learn More
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-feature.wow.fadeInUp(data-wow-delay=".25s")
              .ud-feature-icon
                i.lni.lni-layers
              .ud-feature-content
                h3.ud-feature-title All Essential Elements
                p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
                a.ud-feature-link(href="javascript:void(0)") Learn More

    section#about.ud-about
      .container
        .ud-about-wrapper.wow.fadeInUp(data-wow-delay=".2s")
          .ud-about-content-wrapper
            .ud-about-content
              span.tag About Us
              h2 Brilliant Toolkit to Build Nextgen Website Faster.
              p
                | The main ‘thrust’ is to focus on educating attendees on how to
                |   best protect highly vulnerable business applications with
                |   interactive panel discussions and roundtables led by subject
                |   matter experts.
              p
                | The main ‘thrust’ is to focus on educating attendees on how to
                |   best protect highly vulnerable business applications with
                |   interactive panel.
              a.ud-main-btn(href="javascript:void(0)") Learn More
          .ud-about-image
            img(alt="about-image" src="../assets/images/about/about-image.svg")

    section#pricing.ud-pricing
      .container
        .row
          .col-lg-12
            .ud-section-title.mx-auto.text-center
              span Pricing
              h2 Our Pricing Plans
              p
                | There are many variations of passages of Lorem Ipsum available
                |   but the majority have suffered alteration in some form.
        .row.g-0.align-items-center.justify-content-center
          .col-lg-4.col-md-6.col-sm-10
            .ud-single-pricing.first-item.wow.fadeInUp(data-wow-delay=".15s")
              .ud-pricing-header
                h3 STARTING FROM
                h4 $ 19.99/mo
              .ud-pricing-body
                ul
                  li 5 User
                  li All UI components
                  li Lifetime access
                  li Free updates
                  li Use on 1 (one) project
                  li 4 Months support
              .ud-pricing-footer
                a.ud-main-btn.ud-border-btn(href="javascript:void(0)") Purchase Now
          .col-lg-4.col-md-6.col-sm-10
            .ud-single-pricing.active.wow.fadeInUp(data-wow-delay=".1s")
              span.ud-popular-tag POPULAR
              .ud-pricing-header
                h3 STARTING FROM
                h4 $ 30.99/mo
              .ud-pricing-body
                ul
                  li 5 User
                  li All UI components
                  li Lifetime access
                  li Free updates
                  li Use on 1 (one) project
                  li 4 Months support
              .ud-pricing-footer
                a.ud-main-btn.ud-white-btn(href="javascript:void(0)") Purchase Now
          .col-lg-4.col-md-6.col-sm-10
            .ud-single-pricing.last-item.wow.fadeInUp(data-wow-delay=".15s")
              .ud-pricing-header
                h3 STARTING FROM
                h4 $ 70.99/mo
              .ud-pricing-body
                ul
                  li 5 User
                  li All UI components
                  li Lifetime access
                  li Free updates
                  li Use on 1 (one) project
                  li 4 Months support
              .ud-pricing-footer
                a.ud-main-btn.ud-border-btn(href="javascript:void(0)") Purchase Now

    section#faq.ud-faq
      .shape
        img(alt="shape" src="../assets/images/faq/shape.svg")
      .container
        .row
          .col-lg-12
            .ud-section-title.text-center.mx-auto
              span FAQ
              h2 Any Questions? Answered
              p
                | There are many variations of passages of Lorem Ipsum available
                |   but the majority have suffered alteration in some form.
        .row
          .col-lg-6
            .ud-single-faq.wow.fadeInUp(data-wow-delay=".1s")
              .accordion
                button.ud-faq-btn.collapsed(
                  data-bs-target="#collapseOne" 
                  data-bs-toggle="collapse"
                  )
                  span.icon.flex-shrink-0
                    i.lni.lni-chevron-down
                  span How to use UIdeck?
                #collapseOne.accordion-collapse.collapse
                  .ud-faq-body
                    | Lorem Ipsum is simply dummy text of the printing and
                    |   typesetting industry. Lorem Ipsum has been the industry's
                    |   standard dummy text ever since the 1500s, when an unknown
                    |   printer took a galley of type and scrambled it to make a
                    |   type specimen book.
            .ud-single-faq.wow.fadeInUp(data-wow-delay=".15s")
              .accordion
                button.ud-faq-btn.collapsed(
                  data-bs-target="#collapseTwo" 
                  data-bs-toggle="collapse"
                  )
                  span.icon.flex-shrink-0
                    i.lni.lni-chevron-down
                  span How to download icons from Lineicons?
                #collapseTwo.accordion-collapse.collapse
                  .ud-faq-body
                    | Lorem Ipsum is simply dummy text of the printing and
                    |   typesetting industry. Lorem Ipsum has been the industry's
                    |   standard dummy text ever since the 1500s, when an unknown
                    |   printer took a galley of type and scrambled it to make a
                    |   type specimen book.
            .ud-single-faq.wow.fadeInUp(data-wow-delay=".2s")
              .accordion
                button.ud-faq-btn.collapsed(
                  data-bs-target="#collapseThree" 
                  data-bs-toggle="collapse"
                  )
                  span.icon.flex-shrink-0
                    i.lni.lni-chevron-down
                  span Is GrayGrids part of UIdeck?
                #collapseThree.accordion-collapse.collapse
                  .ud-faq-body
                    | Lorem Ipsum is simply dummy text of the printing and
                    |   typesetting industry. Lorem Ipsum has been the industry's
                    |   standard dummy text ever since the 1500s, when an unknown
                    |   printer took a galley of type and scrambled it to make a
                    |   type specimen book.
          .col-lg-6
            .ud-single-faq.wow.fadeInUp(data-wow-delay=".1s")
              .accordion
                button.ud-faq-btn.collapsed(
                  data-bs-target="#collapseFour" 
                  data-bs-toggle="collapse"
                  )
                  span.icon.flex-shrink-0
                    i.lni.lni-chevron-down
                  span Can I use this template for commercial project?
                #collapseFour.accordion-collapse.collapse
                  .ud-faq-body
                    | Lorem Ipsum is simply dummy text of the printing and
                    |   typesetting industry. Lorem Ipsum has been the industry's
                    |   standard dummy text ever since the 1500s, when an unknown
                    |   printer took a galley of type and scrambled it to make a
                    |   type specimen book.
            .ud-single-faq.wow.fadeInUp(data-wow-delay=".15s")
              .accordion
                button.ud-faq-btn.collapsed(
                  data-bs-target="#collapseFive" 
                  data-bs-toggle="collapse"
                  )
                  span.icon.flex-shrink-0
                    i.lni.lni-chevron-down
                  span Do you have plan releasing Play Pro?
                #collapseFive.accordion-collapse.collapse
                  .ud-faq-body
                    | Lorem Ipsum is simply dummy text of the printing and
                    |   typesetting industry. Lorem Ipsum has been the industry's
                    |   standard dummy text ever since the 1500s, when an unknown
                    |   printer took a galley of type and scrambled it to make a
                    |   type specimen book.
            .ud-single-faq.wow.fadeInUp(data-wow-delay=".2s")
              .accordion
                button.ud-faq-btn.collapsed(
                  data-bs-target="#collapseSix" 
                  data-bs-toggle="collapse"
                  )
                  span.icon.flex-shrink-0
                    i.lni.lni-chevron-down
                  span Where and how to host this template?
                #collapseSix.accordion-collapse.collapse
                  .ud-faq-body
                    | Lorem Ipsum is simply dummy text of the printing and
                    |   typesetting industry. Lorem Ipsum has been the industry's
                    |   standard dummy text ever since the 1500s, when an unknown
                    |   printer took a galley of type and scrambled it to make a
                    |   type specimen book.

    section#testimonials.ud-testimonials
      .container
        .row
          .col-lg-12
            .ud-section-title.mx-auto.text-center
              span Testimonials
              h2 What our Customers Says
              p
                | There are many variations of passages of Lorem Ipsum available
                |   but the majority have suffered alteration in some form.
        .row
          .col-lg-4.col-md-6
            .ud-single-testimonial.wow.fadeInUp(data-wow-delay=".1s")
              .ud-testimonial-ratings
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
              .ud-testimonial-content
                p
                  | “Our members are so impressed. It's intuitive. It's clean.
                  |   It's distraction free. If you're building a community.
              .ud-testimonial-info
                .ud-testimonial-image
                  img(
                    alt="author" 
                    src="../assets/images/testimonials/author-01.png"
                    )
                .ud-testimonial-meta
                  h4 Sabo Masties
                  p Founder @UIdeck
          .col-lg-4.col-md-6
            .ud-single-testimonial.wow.fadeInUp(data-wow-delay=".15s")
              .ud-testimonial-ratings
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
              .ud-testimonial-content
                p
                  | “Our members are so impressed. It's intuitive. It's clean.
                  |   It's distraction free. If you're building a community.
              .ud-testimonial-info
                .ud-testimonial-image
                  img(
                    alt="author" 
                    src="../assets/images/testimonials/author-02.png"
                    )
                .ud-testimonial-meta
                  h4 Margin Gesmu
                  p Founder @Lineicons
          .col-lg-4.col-md-6
            .ud-single-testimonial.wow.fadeInUp(data-wow-delay=".2s")
              .ud-testimonial-ratings
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
                i.lni.lni-star-filled
              .ud-testimonial-content
                p
                  | “Our members are so impressed. It's intuitive. It's clean.
                  |   It's distraction free. If you're building a community.
              .ud-testimonial-info
                .ud-testimonial-image
                  img(
                    alt="author" 
                    src="../assets/images/testimonials/author-03.png"
                    )
                .ud-testimonial-meta
                  h4 William Smith
                  p Founder @GrayGrids
        .row
          .col-lg-12
            .ud-brands.wow.fadeInUp(data-wow-delay=".2s")
              .ud-title
                h6 Trusted and Used by
              .ud-brands-logo
                .ud-single-logo
                  img(
                    alt="ayroui" 
                    src="../assets/images/brands/ayroui.svg"
                    )
                .ud-single-logo
                  img(
                    alt="uideck" 
                    src="../assets/images/brands/uideck.svg"
                    )
                .ud-single-logo
                  img(
                    alt="graygrids" 
                    src="../assets/images/brands/graygrids.svg"
                    )
                .ud-single-logo
                  img(
                    alt="lineicons" 
                    src="../assets/images/brands/lineicons.svg"
                    )
                .ud-single-logo
                  img(
                    alt="ecommerce-html" 
                    src="../assets/images/brands/ecommerce-html.svg"
                    )

    section#team.ud-team
      .container
        .row
          .col-lg-12
            .ud-section-title.mx-auto.text-center
              span Our Team
              h2 Meet The Team
              p
                | There are many variations of passages of Lorem Ipsum available
                |   but the majority have suffered alteration in some form.
        .row
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-team.wow.fadeInUp(data-wow-delay=".1s")
              .ud-team-image-wrapper
                .ud-team-image
                  img(
                    alt="team" 
                    src="../assets/images/team/team-01.png"
                    )
                img.shape.shape-1(
                  alt="shape" 
                  src="../assets/images/team/dotted-shape.svg"
                  )
                img.shape.shape-2(
                  alt="shape" 
                  src="../assets/images/team/shape-2.svg"
                  )
              .ud-team-info
                h5 Adveen Desuza
                h6 UI Designer
              ul.ud-team-socials
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-facebook-filled
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-twitter-filled
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-instagram-filled
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-team.wow.fadeInUp(data-wow-delay=".15s")
              .ud-team-image-wrapper
                .ud-team-image
                  img(
                    alt="team" 
                    src="../assets/images/team/team-02.png"
                    )
                img.shape.shape-1(
                  alt="shape" 
                  src="../assets/images/team/dotted-shape.svg"
                  )
                img.shape.shape-2(
                  alt="shape" 
                  src="../assets/images/team/shape-2.svg"
                  )
              .ud-team-info
                h5 Jezmin uniya
                h6 Product Designer
              ul.ud-team-socials
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-facebook-filled
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-twitter-filled
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-instagram-filled
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-team.wow.fadeInUp(data-wow-delay=".2s")
              .ud-team-image-wrapper
                .ud-team-image
                  img(
                    alt="team" 
                    src="../assets/images/team/team-03.png"
                    )
                img.shape.shape-1(
                  alt="shape" 
                  src="../assets/images/team/dotted-shape.svg"
                  )
                img.shape.shape-2(
                  alt="shape" 
                  src="../assets/images/team/shape-2.svg"
                  )
              .ud-team-info
                h5 Andrieo Gloree
                h6 App Developer
              ul.ud-team-socials
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-facebook-filled
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-twitter-filled
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-instagram-filled
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-team.wow.fadeInUp(data-wow-delay=".25s")
              .ud-team-image-wrapper
                .ud-team-image
                  img(
                    alt="team" 
                    src="../assets/images/team/team-04.png"
                    )
                img.shape.shape-1(
                  alt="shape" 
                  src="../assets/images/team/dotted-shape.svg"
                  )
                img.shape.shape-2(
                  alt="shape" 
                  src="../assets/images/team/shape-2.svg"
                  )
              .ud-team-info
                h5 Jackie Sanders
                h6 Content Writer
              ul.ud-team-socials
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-facebook-filled
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-twitter-filled
                li
                  a(href="https://twitter.com/MusharofChy")
                    i.lni.lni-instagram-filled

    section#contact.ud-contact
      .container
        .row.align-items-center
          .col-xl-8.col-lg-7
            .ud-contact-content-wrapper
              .ud-contact-title
                span CONTACT US
                h2
                  | Let’s talk about
                  br
                  | Love to hear from you!
              .ud-contact-info-wrapper
                .ud-single-info
                  .ud-info-icon
                    i.lni.lni-map-marker
                  .ud-info-meta
                    h5 Our Location
                    p 401 Broadway, 24th Floor, Orchard Cloud View, London
                .ud-single-info
                  .ud-info-icon
                    i.lni.lni-envelope
                  .ud-info-meta
                    h5 How Can We Help?
                    p info@yourdomain.com
                    p contact@yourdomain.com
          .col-xl-4.col-lg-5
            .ud-contact-form-wrapper.wow.fadeInUp(data-wow-delay=".2s")
              h3.ud-contact-form-title Send us a Message
              form.ud-contact-form
                .ud-form-group
                  label(for="fullName") Full Name*
                  input(
                    placeholder="Adam Gelius" 
                    name="fullName" 
                    type="text"
                    )
                .ud-form-group
                  label(for="email") Email*
                  input(
                    placeholder="example@yourmail.com" 
                    name="email" 
                    type="email"
                    )
                .ud-form-group
                  label(for="phone") Phone*
                  input(
                    placeholder="+885 1254 5211 552" 
                    name="phone" 
                    type="text"
                    )
                .ud-form-group
                  label(for="message") Message*
                  textarea(
                    placeholder="type your message here" 
                    rows="1" 
                    name="message"
                    )
                .ud-form-group.mb-0
                  button.ud-main-btn(type="submit") Send Message

    footer.ud-footer.wow.fadeInUp(data-wow-delay=".15s")
      .shape.shape-1
        img(
          alt="shape" 
          src="../assets/images/footer/shape-1.svg"
          )
      .shape.shape-2
        img(
          alt="shape" 
          src="../assets/images/footer/shape-2.svg"
          )
      .shape.shape-3
        img(
          alt="shape" 
          src="../assets/images/footer/shape-3.svg"
          )
      .ud-footer-widgets
        .container
          .row
            .col-xl-3.col-lg-4.col-md-6
              .ud-widget
                a.ud-footer-logo(href="#")
                  img(
                    alt="logo" 
                    src="../assets/images/logo/logo.svg"
                    )
                p.ud-widget-desc
                  | We create digital experiences for brands and companies by
                  |   using technology.
                ul.ud-widget-socials
                  li
                    a(href="https://twitter.com/MusharofChy")
                      i.lni.lni-facebook-filled
                  li
                    a(href="https://twitter.com/MusharofChy")
                      i.lni.lni-twitter-filled
                  li
                    a(href="https://twitter.com/MusharofChy")
                      i.lni.lni-instagram-filled
                  li
                    a(href="https://twitter.com/MusharofChy")
                      i.lni.lni-linkedin-original
            .col-xl-2.col-lg-2.col-md-6.col-sm-6
              .ud-widget
                h5.ud-widget-title About Us
                ul.ud-widget-links
                  li
                    a(href="javascript:void(0)") Home
                  li
                    a(href="javascript:void(0)") Features
                  li
                    a(href="javascript:void(0)") About
                  li
                    a(href="javascript:void(0)") Testimonial
            .col-xl-2.col-lg-3.col-md-6.col-sm-6
              .ud-widget
                h5.ud-widget-title Features
                ul.ud-widget-links
                  li
                    a(href="javascript:void(0)") How it works
                  li
                    a(href="javascript:void(0)") Privacy policy
                  li
                    a(href="javascript:void(0)") Terms of service
                  li
                    a(href="javascript:void(0)") Refund policy
            .col-xl-2.col-lg-3.col-md-6.col-sm-6
              .ud-widget
                h5.ud-widget-title Our Products
                ul.ud-widget-links
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://lineicons.com/"
                      ) Lineicons
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://ecommercehtml.com/"
                      ) Ecommerce HTML
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://ayroui.com/"
                      ) Ayro UI
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://graygrids.com/"
                      ) Plain Admin
            .col-xl-3.col-lg-6.col-md-8.col-sm-10
              .ud-widget
                h5.ud-widget-title Partners
                ul.ud-widget-brands
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://ayroui.com/"
                      )
                      img(
                        alt="ayroui" 
                        src="../assets/images/footer/brands/ayroui.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://ecommercehtml.com/"
                      )
                      img(
                        alt="ecommerce-html" 
                        src="../assets/images/footer/brands/ecommerce-html.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://graygrids.com/"
                      )
                      img(
                        alt="graygrids" 
                        src="../assets/images/footer/brands/graygrids.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://lineicons.com/"
                      )
                      img(
                        alt="lineicons" 
                        src="../assets/images/footer/brands/lineicons.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://uideck.com/"
                      )
                      img(
                        alt="uideck" 
                        src="../assets/images/footer/brands/uideck.svg"
                        )
                  li
                    a(
                      target="_blank" 
                      rel="nofollow noopner" 
                      href="https://tailwindtemplates.co/"
                      )
                      img(
                        alt="tailwindtemplates" 
                        src="../assets/images/footer/brands/tailwindtemplates.svg"
                        )
      .ud-footer-bottom
        .container
          .row
            .col-md-8
              ul.ud-footer-bottom-left
                li
                  a(href="javascript:void(0)") Privacy policy
                li
                  a(href="javascript:void(0)") Support policy
                li
                  a(href="javascript:void(0)") Terms of service
            .col-md-4
              p.ud-footer-bottom-right
                | Designed and Developed by
                a(
                  rel="nofollow" 
                  href="https://uideck.com"
                  ) UIdeck



    script(src="../assets/js/libs.js" type="module") 
    script(src="../assets/js/main.js") 