doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title My Startup and SaaS Landing Page Template
    link(rel='shortcut icon' href='../assets/images/favicon.svg' type='image/svg')
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    link(rel='stylesheet' href='../assets/scss/styles.scss')
  body
    header.ud-header
      .container
        .row
          .col-lg-12
            nav.navbar.navbar-expand-lg
              a.navbar-brand(href='#')
                img(src='../assets/images/logo/logo.svg' alt='Logo')
              button.navbar-toggler
                span.toggler-icon  
                span.toggler-icon  
                span.toggler-icon  
              .navbar-collapse
                ul#nav.navbar-nav.mx-auto
                  li.nav-item
                    a.ud-menu-scroll(href='#home') Home
                  li.nav-item
                    a.ud-menu-scroll(href='#about') About
                  li.nav-item
                    a.ud-menu-scroll(href='#pricing') Pricing
                  li.nav-item
                    a.ud-menu-scroll(href='#team') Team
                  li.nav-item
                    a.ud-menu-scroll(href='#contact') Contact
                  li.nav-item.nav-item-has-children
                    a(href='javascript:void(0)')  Pages 
                    ul.ud-submenu
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') About Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Pricing Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Contact Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Blog Grid Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#.html') Blog Details Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') Sign In Page
                      li.ud-submenu-item
                        a.ud-submenu-link(href='#') 404 Page
              .navbar-btn.d-none.d-sm-inline-block
                a.ud-main-btn.ud-login-btn(href='#') Sign In
                a.ud-main-btn.ud-white-btn(href='javascript:void(0)') Sign Up

    section#home.ud-hero
      .container
        .row
          .col-lg-12
            .ud-hero-content.wow.fadeInUp(data-wow-delay=".2s")
              h1.ud-hero-title Open-Source Web Template for SaaS, Startup, Apps, and More
              p.ud-hero-desc
                | Multidisciplinary Web Template Built with Your Favourite
                |   Technology - HTML Bootstrap, Tailwind and React NextJS.
              ul.ud-hero-buttons
                li
                  a.ud-main-btn.ud-white-btn(
                    target="_blank" 
                    rel="nofollow noopener" 
                    href="https://links.uideck.com/play-bootstrap-download"
                    ) Download Now
                li
                  a.ud-main-btn.ud-link-btn(
                    target="_blank" 
                    rel="nofollow noopener" 
                    href="https://github.com/uideck/play-bootstrap"
                    )
                    | Learn More 
                    i.lni.lni-arrow-right
            .ud-hero-brands-wrapper.wow.fadeInUp(data-wow-delay=".3s")
              img(
                alt="brand" 
                src="../assets/images/hero/brand.svg"
                )
            .ud-hero-image.wow.fadeInUp(data-wow-delay=".25s")
              img(
                alt="hero-image" 
                src="../assets/images/hero/hero-image.svg"
                )
              img.shape.shape-1(
                alt="shape" 
                src="../assets/images/hero/dotted-shape.svg"
                )
              img.shape.shape-2(
                alt="shape" 
                src="../assets/images/hero/dotted-shape.svg"
                )

    section#features.ud-features
      .container
        .row
          .col-lg-12
            .ud-section-title
              span Features
              h2 Main Features of Play
              p
                | There are many variations of passages of Lorem Ipsum available
                |   but the majority have suffered alteration in some form.
        .row
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-feature.wow.fadeInUp(data-wow-delay=".1s")
              .ud-feature-icon
                i.lni.lni-gift
              .ud-feature-content
                h3.ud-feature-title Free and Open-Source
                p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
                a.ud-feature-link(href="javascript:void(0)") Learn More
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-feature.wow.fadeInUp(data-wow-delay=".15s")
              .ud-feature-icon
                i.lni.lni-move
              .ud-feature-content
                h3.ud-feature-title Multipurpose Template
                p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
                a.ud-feature-link(href="javascript:void(0)") Learn More
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-feature.wow.fadeInUp(data-wow-delay=".2s")
              .ud-feature-icon
                i.lni.lni-layout
              .ud-feature-content
                h3.ud-feature-title High-quality Design
                p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
                a.ud-feature-link(href="javascript:void(0)") Learn More
          .col-xl-3.col-lg-3.col-sm-6
            .ud-single-feature.wow.fadeInUp(data-wow-delay=".25s")
              .ud-feature-icon
                i.lni.lni-layers
              .ud-feature-content
                h3.ud-feature-title All Essential Elements
                p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
                a.ud-feature-link(href="javascript:void(0)") Learn More

    script(src="../assets/js/libs.js" type="module") 
    script(src="../assets/js/main.js") 