footer.ud-footer.wow.fadeInUp(data-wow-delay=".15s")
  .shape.shape-1
    img(
      alt="shape" 
      src="../assets/images/footer/shape-1.svg"
      )
  .shape.shape-2
    img(
      alt="shape" 
      src="../assets/images/footer/shape-2.svg"
      )
  .shape.shape-3
    img(
      alt="shape" 
      src="../assets/images/footer/shape-3.svg"
      )
  .ud-footer-widgets
    .container
      .row
        .col-xl-4.col-lg-4.col-md-6
          .ud-widget
            a.ud-footer-logo(href="#")
              img(
                alt="logo" 
                src="../assets/images/logo/logo.svg"
                )
            p.ud-widget-desc
              | We create digital experiences for brands and companies by
              |   using technology.
            ul.ud-widget-socials
              li
                a(href="javascript:void(0)")
                  i.lni.lni-facebook-filled
              li
                a(href="javascript:void(0)")
                  i.lni.lni-twitter-filled
              li
                a(href="javascript:void(0)")
                  i.lni.lni-instagram-filled
              li
                a(href="javascript:void(0)")
                  i.lni.lni-linkedin-original
        .col-xl-4.col-lg-4.col-md-6.col-sm-6
          .ud-widget
            h5.ud-widget-title About Us
            ul.ud-widget-links
              li
                a(href="javascript:void(0)") Home
              li
                a(href="javascript:void(0)") Features
              li
                a(href="javascript:void(0)") About
              li
                a(href="javascript:void(0)") Testimonial
        .col-xl-4.col-lg-4.col-md-6.col-sm-6
          .ud-widget
            h5.ud-widget-title Features
            ul.ud-widget-links
              li
                a(href="javascript:void(0)") How it works
              li
                a(href="javascript:void(0)") Privacy policy
              li
                a(href="javascript:void(0)") Terms of service
              li
                a(href="javascript:void(0)") Refund policy

  .ud-footer-bottom
    .container
      .row
        .col-md-8
          ul.ud-footer-bottom-left
            li
              a(href="javascript:void(0)") Privacy policy
            li
              a(href="javascript:void(0)") Support policy
            li
              a(href="javascript:void(0)") Terms of service

a.back-to-top(href="javascript:void(0)")
  i.lni.lni-chevron-up
